@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    font-family: 'roboto';
    margin: 0px;
}

.navigation {
    background-color: #1F2932;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.navigation > ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.navigation ul > li > a {
    text-decoration: none;
    color: white;
}

.initial-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.big-phrase {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}

footer {
    background-color: #1F2932;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.top-container {
    background-color: #1F2932;
    color: white;
}

.company-quote-container {
    display: flex;
    justify-content: space-around;
    padding: 90px
}

.quote-button {
    background-color: #3882F6;
    flex: 0 0 initial;
    border-radius: 10px;
    border: 0px;
    color: white;
    padding: 0px;
    width: 130px;
}

.quote-button > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

.card-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
    margin-bottom: 50px;
}

.card {
    background-color: #E5E7EB; 
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #cacccf;
    width: 15%;
    height: auto;
}

.card > img {
    height: 150px;
    width: auto;
    object-fit: scale-down;
    /* flex-shrink: 0; */
}

.card-container-title {
    text-align: center;
    font-size: 36px;
    font-style: 900;
    color: #1F2932;
}

.card-text {
    color: #1F2932;
    font-size: 25px;
}

.big-bottom-quote {
    background-color: #E5E7EB; 
    text-align: center;
    padding: 50px 300px;
}

.quote-section {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 1px;
    text-wrap: balance;
}

.quote-section-name {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.newsletter-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 120px 350px;
    padding: 30px; /*Change*/
    color: white;  
    border-radius: 5px;
    gap: 160px;
}

.newsletter-button {
    background-color: transparent;
    border: 2px solid white;
    display: block;
    padding: 0px;
    font-size: 16px;
}

.newsletter-text > p{
    font-size: 19px;
    margin: 5px;
}

.newsletter-text-title {
    font-size: 24px !important;
    font-weight: 700;
}